<%- include('./partials/header') -%>

<div class="container">
    <h2>This is the homepage</h2>
    <a href="/liquor"><button class="btn btn-primary">Liquor</button></a>
    <a href="/mixers"><button class="btn btn-primary">Mixers</button></a>
</div>

<%- include('./partials/footer') -%>